<mat-nav-list *ngIf="isMobileDevice$ | async" class="navlist-handset">
  <a mat-list-item href="#">Home</a>
  <a mat-list-item href="#">Features</a>
  <a mat-list-item href="#">Blog</a>
  <a mat-list-item href="#">Contact</a>
</mat-nav-list>

<mat-nav-list *ngIf="!(isMobileDevice$ | async)" class="navlist-handset">
  <a mat-list-item href="#">Home</a>
  <a mat-list-item href="#">Features</a>
  <a mat-list-item href="#">Blog</a>
  <a mat-list-item href="#">Contact</a>
</mat-nav-list>
