<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isMobileDevice$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isMobileDevice$ | async) ? 'push' : 'side'"
    [opened]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <app-navlist></app-navlist>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="content">
      @if (isMobileDevice$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <app-logo></app-logo>
      <app-navlist
        *ngIf="!(isMobileDevice$ | async)"
        class="navlist"
      ></app-navlist>
      <div>
        <button mat-raised-button color="accent"
         [ngClass]="{ 'small-button': (isHandset$ | async) }" >Sign In</button>
       

        <button
          mat-stroked-button
          color="accent"
          class="register-Button"
          [ngClass]="{ 'small-button': (isHandset$ | async) }"
        >
          Register
        </button>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
